body {
  font-family: Arial;
  background: #f0f2f5;
  margin: 0;
}

.navbar {
  background: #1877f2;
  color: white;
  padding: 15px;
}

.container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.task-form {
  display: flex;
  gap: 10px;
}

.task-form input {
  flex: 1;
  padding: 10px;
}

.task-form button {
  background: #1877f2;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center; /* CENTER EVERYTHING */
}

table th,
table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle; /* CENTER VERTICALLY */
}
.actions a {
  margin: 0 5px;
  text-decoration: none;
  font-size: 18px;
}
